body {
  background-color: #E9D5CA;
  font-family: monospace;
}

img {
  height: 200px;
}

hr {
  border-style: none;
  border-top: 10px dotted #827397;
  width: 75px
}

h1 {
  color: #363062;
  height: 15px;
  font-family: freebooterscript;
}

h3 {
  color: #4D4C7D;
}

.submitButton {
  background-color: #827397;
  border: none;
  color: white;
  cursor: auto;
  padding: 7px;
  margin: 0.5%
}

.subheading {
  color: white;
}

@font-face {
  font-family: freebooterscript;
  src: url(../fonts/freebooterscript.woff) format("woff");
}
